<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',    filename='CSS/style.css') }}">
  <title>ระบบตรวจสอบ</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>โ</span>รงพยาบาล <span>ข</span>อนแก่น</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li class="nav-item active"><a class="nav-link" href="/index" data-after="/Home">Home <span class="sr-only"></span></a></li>
            <li class="nav-item active"><a class="nav-link" href="#services" data-after="/Service">Services</a></li>
            <li class="nav-item active"><a class="nav-link" href="#about" data-after="/About">About</a></li>
            <li class="nav-item active"><a class="nav-link" href="#contact" data-after="/Contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->

  <!-- Projects Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">Predict <span>and</span> Detail</h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
             {% if filename %}
            <div class="project-img">
              <img src="{{ url_for('display_image', filename=filename) }}" alt="img">
            </div> 
             {% endif %}
          <div class="project-img">
            <img src="/static/images/scor.png" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Score-CAM</h1>
            <h2>จุดที่ AI ทำนาย</h2>
            <p>วัณโรคปอด 97%</p>
            <p>มะเร็งปอด 2%</p>
            <p>ปอดปกติ 1%</p>
          </div>
          <div class="project-info">
            <h1>Image Input</h1>
            <h2>มีแนวโน้มที่จะเป็นวัณโรคปอด 97%</h2>
          </div>
        </div>
        <div>
          <form action="/confirm">
          <button type="submit">Next</button>
      </form>
      </div>
        </div>
      </div>
  </section>
  <!-- End Projects Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>S</span>haif <span>A</span>rfan</h1>
      </div>
      <h2>Your Complete Web Solution</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
        </div>
      </div>
      <p>Copyright © 2022 Kanyarat.P, Moltira.S. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
  <script src="./app.js"></script>
</body>

</html>